#find-screen {
    height: 110vh;
}

.screen-header__icons {
    position: relative;
}

.screen-header__dot {
    position: absolute;
    top: -6px;
    right: -6px;
}

.find-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.find-icons__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.find-icons__icon i {
    font-size: 35px;
}

.find-icons span {
    margin-top: 15px;
}

.open-chat {
    border-radius: 15px;
    padding: 5px 15px;
    background-color: rgb(0, 0, 0, 0.1);
    margin: 10px 0px;
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
    margin-bottom: 15px;
}

.open-chat__header span {
    opacity: 0.6;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.open-post__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 8px;
    color: #0478A6;
    font-weight: 600;
    font-size: 13px;
}

.open-post__members {
    display: flex;
    align-items: center;
}

.open-post__members--status {
    font-size: 11px;
    font-weight: 600;
    opacity: 0.4;
}

.open-post__photo img {
    width: 180px;
    height: 110px;
    border-radius: 20px;
}

.open-post__photo {
    position: relative;
}

.heart {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.open-post__heart-count {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.open-post__heart-count span {
    margin-left: 3px;
}

@keyframes heartBeat {
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(1.5);
    }
    100% {
        color: white;
        transform: none;  
    }
}

.open-post__heart-count:hover i {
    will-change: transform;
    animation: heartBeat 1s linear infinite;
}

.user-shopping {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: var(--main-border);
}

.user-shopping__list {
    display: flex;
    align-items: center;
}

.user-shopping__list img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
    background-color: #F9BD3E;
    padding: 2px;
}

.user-shopping__list span {
    font-size: 14px;
    font-weight: 600;
}

.user-shopping__list i {
    margin-left: 5px;
}

.user-shopping__text {
    display: flex;
    align-items: center;
}

.user-shopping__text span {
    font-weight: 600;
    font-size: 13px;
    opacity: 0.8;
}

.user-shopping__text span:hover {
    color: var(--blue);
}

.user-shopping__text .divider {
    width: 1.5px;
    height: 15px;
    background-color: rgb(0, 0, 0, 0.2);
    margin: 0px 5px;
}

.best-category {
    margin-top: 20px;
    font-family: 'Secular One', sans-serif;
}

.best-category__title {
    font-weight: 600;
    opacity: 0.8;
}

.best-category__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.best-category__list--name {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.best-category__list--name:hover {
    filter: brightness(70%);
}

.best-category__list--name img {
    width: 180px;
    height: 180px;
    border-radius: 30px;
}

.best-category__list--name span {
    font-size: 35px;
    font-weight: 600;
    color: white;
    position: relative;
    top: 45px;
    left: 15px;
}


