#settings-screen .alt-header {
    top: 0;
    position: sticky;
    width: 100%;
    padding-bottom: 20px;
    background-color: white;
    box-sizing: border-box;
}

.settings__setting {
    padding: 20px 0px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 20px;
}

.settings__setting:hover {
    color: var(--blue);
}

.settings__setting__div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sub-list .settings__setting:last-child {
    border-bottom: none;
}

.settings__setting__div i{
    font-size: 22px;
    margin-right: 20px
}

.settings__setting-column i {
    width: 30px;
}

.settings__setting-column span {
    font-size: 17px;
    font-weight: 600;
}

.settings__setting-column:last-child{
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
}

.logout {
    padding: 20px 30px;
}

.logout-btn {
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    padding: 20px 0px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.logout-btn:hover {
    background-color: #F2F2F5;
    color: var(--blue);
}