#no-mobile {
    position: absolute;
    z-index: 99;
    height: 160vh;
    width: 100vw;
    background-color: #4AADF0;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

#no-mobile span {
    position: relative;
}

@media screen and (max-width:645px) {
    #no-mobile {
        display: none;
    }
}