.user-component {
    justify-content: space-between;
    padding: 20px 15px;
}

.user-component:hover {
    box-shadow: 3px 3px 5px rgb(0,0,0,0.3);
    border-radius: 10px;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 30px;
    margin-right: 20px;
    padding: 5px;
}

.user-component__title {
    font-weight: 600;
    font-size: 22px;
}

.user-component__subtitle {
    font-family: 'Kalam', cursive;
    margin-top: 10px;
    font-size: 14px;
    font-size: 600;
    opacity: 0.7;
}

.user-component__avatar--xl {
    width: 80px;
    height: 80px;
    background-color: #F9BD3E;
}

.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;
}


.user-component__column:last-child{
    color: rgb(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__time {
    display: block;
    margin-bottom: 10px;
    font-size: 13px;
}

.user-component__avatar--ch {
    background-color: #1097E4;
}


.user-component__avatar--ponyo {
    background-color: #F0A5B1;
}

.user-component__avatar--totoro {
    background-color: #FCF0AA;
}

.user-component__avatar--noface {
    background-color: #C1DA80;
}

.user-component__avatar--baron {
    background-color: #A6D9FA;
}


@keyframes imgBeat {
    0% {
        transform: none;
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: none;  
    }
}

.user-component__avatar--ch {
    will-change: transform;
    animation: imgBeat 1s linear infinite;
}


